
EMAIL=your_university_email
NAME=Your Full Name
ROLL_NO=enter your roll number
ACCESS_CODE=your_acces_code
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here

NOTIFY_TOKEN=your_client_secret_here
